<app-main-gabarit>
  <div class="form__return">
    <app-btn route="/main">
      <app-icon type="BACK"></app-icon>
    </app-btn>
  </div>

  <div class="form_card" *ngIf="channelForm">
    <h1>Modifier un salon :</h1>
    <form [formGroup]="channelForm">

      <div class="form_group">
        <label for="nameInput">Nom du salon :</label>
        <input type="text" id="nameInput" formControlName="name">
      </div>

      <div class="form_group">
        <label for="descriptionInput">Description : </label>
        <input type="text" id="descriptionInput" formControlName="description">
      </div>

      <div class="action_button">
        <button type="submit" (click)="onSubmit()" [disabled]="channelForm.invalid">Modifier</button>
      </div>

    </form>
  </div>



</app-main-gabarit>
