$app-primary: #202c33;
$app-primary-dark: #111b21;
$app-primary-light: #2a3942;
$app-primary-darkest: #0b141a;

$app-primary-fontcolor: #e9edef;
$app-secondary-fontcolor: #8696a0;


$primary-font: 'EB Garamond', serif;
$secondary-font: 'Montserrat', sans-serif;
