.main__container {
  height: 100vh;

  .nav__container {
    position:fixed;
    width: 200px;

    .nav__header {
      height: 80px;
      background: rgb(112, 101, 101);
    }

    .main__nav {
      height: calc(100vh - 80px);
      background: rgb(41, 39, 39);
    }
  }

  .messages__container {
    position: fixed;
    width: calc(100vw - 200px);
    padding-left: 200px;

    .message__header {
      height: 80px;
      background: pink;
    }

    .messages__area{
      height: calc(100vh - 160px);
      background: rgb(5, 59, 5);
      overflow-y: auto;

    }

    .messages__form {
      height: 100px;
      background: pink;

    }
  }
}
