@import "src/stylings/theme";
.hidden {
  display: none;
}
.container__channel {
  cursor: pointer;
  padding: 20px 10px;
}

.container__channel:hover{
  background-color: $app-primary;
}
.div_users_channel{
  color: $app-secondary-fontcolor;
}
.channel__card__icons{
  display: flex;
  flex-direction: row-reverse;
  padding-top: 5px;

}
.div_users_channel{
  padding: 10px;
  font-size: 0.9em;
}

