<div class="container__channel" (click)="hide()">
  <app-channel-solo [channel]="channel"></app-channel-solo>

  <div class="div_users_channel" [ngClass]="{'hidden' : hidden}">
    <div class="field" *ngIf="channel.id != 1">
      <app-btn (click)="deleteChannel(channel.id)">
        <app-icon type="DELETE"></app-icon>
      </app-btn>
      <app-btn [route]="route">
        <app-icon type="EDIT"></app-icon>
      </app-btn>
    </div>
    <p>Liste des membres:</p>
    <app-users-list></app-users-list>
  </div>
</div>
