<div *ngIf="sessionUser$ | async as user">
  <div class="container__channel" [ngClass]="{'active':  user.current_channel.id == channel.id}">
    <app-channel-solo [channel]="channel"></app-channel-solo>

    <div class="div_users_channel" [ngClass]="{'hidden' : user.current_channel.id != channel.id}">
      <p>Liste des membres:</p>
      <app-user-bubble *ngFor="let user of users$ | async" [user]="user"></app-user-bubble>
      <div class="channel__card__icons" *ngIf="channel.id != 1">
        <button (click)="deleteChannel(channel.id)">
          <app-icon type="DELETE"></app-icon>
        </button>
        <app-btn [route]="route">
          <app-icon type="EDIT"></app-icon>
        </app-btn>
      </div>
    </div>
  </div>
</div>
