@import "src/stylings/theme";
.hidden {
  display: none;
}
.container__channel {
  cursor: pointer;
  padding: 10px 0px;

  }
.container__channel:not(:first-child){

}
.container__channel:hover{
  background-color: $app-primary;
}
