@import "src/stylings/theme";
.form_card {
  width: 50%;
  margin: 20px auto;
  padding: 10px 30px;
  color: $app-primary-fontcolor;
  background-color: $app-primary;
  border-radiusgi: 10px;


}

.form_group {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input, textarea {
  width: 50%;
  background-color: $app-primary-light;
  border: none;
  color: $app-primary-fontcolor;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  height: 50px;
  font-size: 1.2rem;


}

.action_buttons {
  width: 100%;
}

button {
  display: block;
  margin: 20px auto;
}
h1 {
  text-align: center;
}
