<div class="form__container">

  <div class="form_card">
    <h1>Créer un compte</h1>
    <form [formGroup]="registerForm">

      <div class="form_group">
        <label for="email">Email :</label>
        <input type="email" id="email" formControlName="email">
      </div>

      <div class="form_group">
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" formControlName="password">
      </div>

      <div class="form_group">
        <label for="username">Nom d'utilisateur :</label>
        <input type="username" id="username" formControlName="username">
      </div>

      <div class="action_button">
        <button type="submit" (click)="onSubmit()" [disabled]="registerForm.invalid">S'enregistrer</button>
      </div>

    </form>
    <div class="link">
      <a routerLink="/login">Retour</a>
    </div>
  </div>

</div>
