@import "src/app/main/pages/add-channel/add-channel.component";
.form__container{
  display: grid;
  height: 100vh;
}
.form_card{
  place-self: center;
}
.link{
  display: flex;
  flex-direction: row-reverse;

  a{
    color: $app-secondary-fontcolor;
    text-decoration: none;
  }
  a:hover{
    color: $app-primary-fontcolor;

  }
}
