<app-main-gabarit>
  <div class="form__return">
    <app-btn route="/main">
      <app-icon type="BACK"></app-icon>
    </app-btn>
  </div>

  <div class="form_card">
    <h1>Editer le message</h1>
    <form class="message__form__container" (ngSubmit)="onSubmit()" *ngIf="message$ | async as message">

      <div class="form_group">
        <label for="contentInput">Message</label>
        <input type="text" id="contentInput" [(ngModel)]="contentInput" name="contentInput">
      </div>

      <button type="submit">Modifier</button>
    </form>
  </div>


</app-main-gabarit>
