@import "src/stylings/theme";
.message_content {
  background-color: $app-primary-light;
  display: flex;
  padding: 10px 10px;
  margin: 30px 30px;
  width: 60%;
  border-radius: 15px;



  .message__bubble {
    color:$app-primary-fontcolor;
    display: flex;
    flex-direction: column;


  }
  .message__bubble__date{
    color: $app-secondary-fontcolor;
  }
  .message__bubble__icons{
    color: $app-secondary-fontcolor;

  }
  .message__bubble__user{
    color: $app-secondary-fontcolor;
  }
  .message__bubble__top{
    display: flex;
    flex-direction: row;

    padding-bottom: 10px;

  }
  .message__content__content{
    font-size: 1.5em;
  }
  .message__content__edit{
    font-size: 1.5em;
    color: inherit;
    background-color: inherit;
    border: 1px solid $app-secondary-fontcolor;
    border-radius: 10px;
    padding-left: 5px;
    outline: none;

  }
  .hidden{
    display: none;
  }
}

